{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'admin-extra.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}Cryptocurrency Prices{% endblock %}</title>
    <style>

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f0f0f0;
        }

        .logo {
            font-size: 24px; 
        }

        .nav-links {
            display: flex;
            gap: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">
            CoinCompare
        </div>
        <div class="nav-links">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
